NEXT_PUBLIC_SUPABASE_URL=https://eqqtjmahqvdcslymfzfh.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVxcXRqbWFocXZkY3NseW1memZoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODcwNzc3OTEsImV4cCI6MjEwMjY1Mzc5MX0.Ck6N3D599JU04OwjlzEqiDa5FQKCjBNCOuAM4XKX1qI
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVxcXRqbWFocXZkY3NseW1memZoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODcwNzc3OTEsImV4cCI6MjEwMjY1Mzc5MX0.Ck6N3D599JU04OwjlzEqiDa5FQKCjBNCOuAM4XKX1qI
